
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
    height: 100vh;
    background: linear-gradient(to left, #bee9e8, #62b6cb);
}
.weather-container {
    border: 2px white solid;
    border-radius: 10px;
    padding: 1rem;
    width: 40%;
    margin: auto;
}
.section-one {
    padding: 1rem;
    font-size: 1rem;
}
.section-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.weather-update {
    margin-right: 5px;
}
.location,
 .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
}
.icon-description{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
